@using apoemaMatch.Data.Enums
@model SolucionadorViewModel

@{
    ViewData["Title"] = "Mudar Status Solucionador";
}

<div class="container">
    <div class="row text-center mt-3">
        <div class="col-md-12 mx-auto">
           <h1>Status @Model.Nome</h1>
            <div class="row">
                <div class="col-md-12 mt-3">
                    <div class="form-group">
                        @if (Model.Disponivel)
                        {
                            <a class="btn btn-outline-danger" asp-action="AtivarDesativar" asp-route-id="@Model.Id">Desativar</a>
                        }
                        @if (!Model.Disponivel)
                        {
                            <a class="btn btn-outline-success" asp-action="AtivarDesativar" asp-route-id="@Model.Id">Ativar</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

