@model string;
<div class="text-white text-center">
    <a asp-controller = "@Model" asp-action="Cadastrar" class="btn btn-success">
        <i class="bi bi-plus-circle">Adicionar</i>
    </a>
</div>
