<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - apoemaMatch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Apoema</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="navbar-nav flex-grow-1">
                            <a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="Demandante" asp-action="Index">
                                Demandantes
                            </a>
                            <span style="padding: 5px;"></span>

                            <a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="Solucionador" asp-action="Index">
                                Solucionadores
                            </a>
                            <span style="padding: 5px;"></span>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="Encomenda" asp-action="Index">
                                    Encomendas
                                </a>
                                <span style="padding: 5px;"></span>
                                <a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="Encomenda" asp-action="EmAberto">
                                    Em Aberto
                                </a>
                            }
                        </li>

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="bi bi-gear"></i>
                                    Gerenciamento
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Demandante" asp-action="Index">Demandantes</a>
                                    <a class="dropdown-item" asp-controller="Solucionador" asp-action="Index">Solucionadores</a>
                                    <a class="dropdown-item" asp-controller="Encomenda" asp-action="Index">Encomendas</a>
                                </div>

                            </li>

                        }

                    </ul>

                    <form class="form-inline my-2 my-lg-0" asp-controller="Demanda" asp-action="Filter" style="padding-right: 25px;">
                        <input name="searchString" type="text" class="form-control" placeholder="Buscar Encomenda" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
                    </form>

                    <partial name="_Identity.cshtml" />

                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">
            <img id="Logo_Footer" src="~/img/apoema.png" alt="Logo do APOEMA - Footer">
        </div>

    </footer>
    <!-- Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
