@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-4">
        <h1>
            Seja desafiado ou desafie-nos a encontrar a sua solução
        </h1>
        <p>
            Uma plataforma de inovação aberta que conecta agentes demandantes a solucionadores da academia
        </p>
        <div class="row">
            <button>Botao 1</button>
            <button>Botao 2</button>
        </div>
    </div>
    <div class="col-8">
        <img src="@Url.Content("~/img/home.png")"/>
    </div>
</div>

