@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<section class="py-2" id="sumario">
    <div class="container my-3" id="topico-01">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="text-center">Sumário</h2>
                <ul class="mb-0">
                    <li>01 - DISPOSIÇÕES PRELIMINARES</li>
                    <li>02 - CONCEITOS BÁSICOS</li>
                    <li>03 - IDENTIDADE DO CONTROLADOR</li>
                    <li>04 - SEUS DADOS</li>
                    <li>05 - PRINCÍPIOS LEGAIS</li>
                    <li>06 - COMPARTILHAMENTO DOS DADOS</li>
                    <li>07 - MEUS DIREITOS</li>
                    <li>08 - ALTERAÇÕES NA POLÍTICA DE PRIVACIDADE</li>
                    <li>09 - CONTATO</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!---------------------------- POLITICA ----------------------------->

<section class="py-2" id="politica">
    <!---------------------------- TOPICO 01 ----------------------------->
    <div class="container mb-4 mt-2">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h2>01 - DISPOSIÇÕES PRELIMINARES</h2>
                <p class="lead">Afinal, o que é a LGPD e para que serve uma política de privacidade?</p>
                <p>
                    A Lei Geral de Proteção de Dados, de nº 13.709/2018, comumente conhecida como LGPD, surgiu com o intuito de proteger os direitos fundamentais de liberdade e de privacidade e o livre desenvolvimento da personalidade da pessoa natural, estabelecendo regras que ofereçam mais clareza sobre como são coletados, armazenados e compartilhados os dados pessoais.
                    Nós mantemos o compromisso de continuar respeitando e assegurando a privacidade e a proteção dos dados pessoais que coletamos. Dessa forma, apresentamos nossa Política de Privacidade, que tem como objetivo fornecer a você informações claras e precisas sobre o tratamento de dados pessoais e sensíveis realizados.
                </p>
            </div>
        </div>
    </div>

    <!---------------------------- TOPICO 02 ----------------------------->
    <div class="container mb-4 mt-2">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h2>02 - CONCEITOS BÁSICOS</h2>
                <p class="lead">
                    O que preciso saber para compreender esta politica de privacidade?
                </p>
                <p>Para facilitar o entendimento da política de privacidade, estamos trazendo alguns conceitos presentes no Art. 5º da LGPD:</p>
                <div class="row justify-content-center">
                    <ul class="col-lg-9">
                        <li><b>Titular</b>: pessoa natural a quem se referem os dados pessoais que são objeto de tratamento</li>
                        <li><b>Controlador</b>: pessoa natural ou jurídica, de direito público ou privado, a quem competem as decisões referentes ao tratamento de dados pessoais</li>
                        <li><b>Operador</b>: pessoa natural ou jurídica, de direito público ou privado, que realiza o tratamento de dados pessoais em nome do controlador</li>
                        <li><b>Dado Pessoal</b>: informação relacionada a pessoa natural identificada ou identificável</li>
                        <li><b>Dado Pessoal Sensível</b>: dado pessoal sobre origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural</li>
                        <li><b>Tratamento</b>: toda operação realizada com dados pessoais, como as que se referem a coleta, produção, recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração</li>
                        <li><b>Uso compartilhado de dados</b>: comunicação, difusão, transferência internacional, interconexão de dados pessoais ou tratamento compartilhado de bancos de dados pessoais por órgãos e entidades públicos no cumprimento de suas competências legais, ou entre esses e entes privados, reciprocamente, com autorização específica, para uma ou mais modalidades de tratamento permitidas por esses entes públicos, ou entre entes privados</li>
                        <li><b>Encarregado</b>: pessoa indicada pelo controlador e operador para atuar como canal de comunicação entre o controlador, os titulares dos dados e a Autoridade Nacional de Proteção de Dados (ANPD)</li>
                        <li><b>Autoridade Nacional</b>: órgão da administração pública responsável por zelar, implementar e fiscalizar o cumprimento desta Lei em todo o território nacional.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!---------------------------- TOPICO 03 ----------------------------->
    <div class="container mb-4 mt-2">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h2>03 - IDENTIDADE DO CONTROLADOR </h2>
                <p class="lead">Quem é o Apoema?</p>
                <p>
                    Como vimos no tópico de Conceitos, o Controlador é a pessoa natural ou jurídica, de direito público ou privado, a quem competem as decisões referentes ao tratamento de dados pessoais, ou seja, o Apoema é o Controlador.
                    <br>
                    O Instituto APOEMA é um órgão complementar de pesquisa e desenvolvimento vinculado ao Instituto de Informática (INF) da Universidade Federal de Goiás (UFG) que promove, através de projetos, a incorporação de novas tecnologias, processos e serviços que contribuem para a consolidação do pólo de Tecnologia da Informação e Comunicação (TIC) de Goiás.
                    <br>
                    Atua em parcerias firmadas pelo INF com empresas e outras instituições, públicas ou privadas, nacionais ou estrangeiras, visando à colaboração, contratos e convênios. Busca estimular empresas parceiras a investirem em projetos e, ao mesmo tempo, fornecer soluções inovadoras na área de TIC para empresas, órgãos governamentais, universidades e institutos de pesquisa.
                    Dessa forma, o órgão promove uma integração entre ensino, pesquisa e extensão no INF e na UFG, proporcionando experiência prática a estagiários do Instituto e de outras unidades acadêmicas da UFG, capacitando-os para atuarem no mercado de trabalho.
                    .
                </p>
            </div>
        </div>
    </div>

    <!---------------------------- TOPICO 04 ----------------------------->
    <div class="container mb-4 mt-2">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h2>04 - MEUS DADOS - VOLTAR AQUI</h2>
                <p class="lead">Como meus dados são coletados e por quê?</p>
                <p>Obviamente, não conseguiríamos ajudar você a se conectar com outras pessoas sem ter alguma informação pessoal sua, como seus dados básicos de perfil e área de atuação. Não se preocupe, não coletamos nenhum dado pessoal sensível. Os seus dados pessoais são recebidos por nós no momento do seu cadastro ou ao atualizar os seus dados.</p>

                <p>Nós também coletamos informações geradas ao longo do uso da nossa plataforma, por exemplo, registros de acesso coletados por cookies quando você os autoriza, ou quando carrega informações da sua conta das redes sociais para completar o seu perfil.</p>

                <p>Em resumo, podemos obter seus dados pessoais das seguintes maneiras:</p>
                <div class="row justify-content-center">
                    <ol class="col-lg-9">
                        <li>Dados fornecido por você através do cadastro ou atualização de cadastro na plataforma</li>
                        <li>Dados recuperados pela plataforma Lattes quando você nos informa o seu Lattes iD</li>
                        <li>Dados coletados via cookies</li>
                    </ol>
                </div>
                <p>Veja a tabela abaixo com mais detalhes sobre como coletamos seus dados, quais informações coletamos, como usamos essa informações e que tipo de hipótese de tratamento da LGPD nós estamos utilizando.</p>

                <div class="table-responsive">
                    <table class="table table-dark table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" class="align-middle">ORIGEM</th>
                                <th scope="col" class="align-middle" colspan="2">DADOS COLETADOS</th>
                                <th scope="col" class="align-middle">FINALIDADE</th>
                                <th scope="col" class="align-middle">HIPÓTESE DE TRATAMENTO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="7" class="align-middle">Navegação pela plataforma</th>
                                <td rowspan="3" class="align-middle">Dados fornecidos por você através de seu cadastro ou atualização de cadastro</td>
                                <td class="align-middle">
                                    <ul>
                                        <li>Nome</li>
                                        <li>Bio (texto livre de descrição das suas habilidades)</li>
                                        <li>Foto</li>
                                        <li>Lattes iD (Curriculo Lattes)</li>
                                    </ul>
                                </td>
                                <td class="align-middle">
                                    <ul>
                                        <li>Atividades de relacionamento e atendimento</li>
                                        <li>Atualização e incremento cadastral</li>
                                        <li>Motivos legais ou requeridos em lei</li>
                                    </ul>
                                </td>
                                <td rowspan="6" class="align-middle">Execução de contrato ou de procedimentos preliminares relacionados a contrato</td>
                            </tr>

                            <tr>
                                <td class="align-middle">
                                    <ul>
                                        <li>Telefone</li>
                                        <li>E-mail</li>
                                    </ul>
                                </td>
                                <td class="align-middle">
                                    <ul>
                                        <li>Atualização e incremento cadastral</li>
                                        <li>Atividades de relacionamento e atendimento</li>
                                        <li>Motivos legais ou requeridos em lei</li>
                                        <li>Enviar avisos e comunicações importantes</li>
                                        <li>Recuperação de senha</li>
                                    </ul>
                                </td>
                            </tr>

                            <tr>
                                <td class="align-middle">
                                    <ul>
                                        <li>Área de atuação</li>
                                        <li>Formação</li>
                                        <li>Área de pesquisa</li>
                                        <li>Cargo</li>
                                    </ul>
                                </td>
                                <td class="align-middle">
                                    <ul>
                                        <li>Análise de perfil</li>
                                        <li>Análise para conexão (matching)</li>
                                        <li>Estudo de ações de marketing voltadas à prospecção de novos clientes</li>
                                        <li>Motivos legais ou requeridos em lei</li>
                                        <li>Atualização e incremento cadastral</li>
                                    </ul>
                                </td>
                            </tr>

                            <tr>
                                <td rowspan="2" class="align-middle">Dados recuperados pela plataforma Lattes quando você nos informa o seu Lattes iD</td>
                                <td class="align-middle">
                                    <ul>
                                        <li>Nome</li>
                                        <li>Lattes iD (Curriculo Lattes)</li>
                                        <li>Bio</li>
                                    </ul>
                                </td>
                                <td class="align-middle">
                                    <ul>
                                        <li>Atividades de relacionamento e atendimento</li>
                                        <li>Atualização e incremento cadastral</li>
                                        <li>Motivos legais ou requeridos em lei</li>
                                    </ul>
                                </td>
                            </tr>

                            <tr>
                                <td class="align-middle">
                                    <ul>
                                        <li>Formação</li>
                                        <li>Área de pesquisa</li>
                                    </ul>
                                </td>
                                <td class="align-middle">
                                    <ul>
                                        <li>Análise de perfil</li>
                                        <li>Análise para conexão (matching)</li>
                                        <li>Estudo de ações de marketing voltadas à prospecção de novos clientes</li>
                                        <li>Motivos legais ou requeridos em lei</li>
                                        <li>Atualização e incremento cadastral</li>
                                    </ul>
                                </td>
                            </tr>

                            <tr>
                                <td class="align-middle">Informações de login</td>
                                <td class="align-middle">
                                    <ul>
                                        <li>Login</li>
                                        <li>Senha</li>
                                    </ul>
                                </td>
                                <td class="align-middle">
                                    <ul>
                                        <li>Realização de login</li>
                                    </ul>
                                </td>
                            </tr>

                            <tr>
                                <td class="align-middle">Dados coletados automaticamente via cookies</td>
                                <td class="align-middle">
                                    <ul>
                                        <li>Endereço IP</li>
                                        <li>Informações do dispositivo e navegador</li>
                                        <li>Páginas acessadas</li>
                                        <li>Ações realizadas nas páginas</li>
                                        <li>Datas e horários  de acesso</li>
                                    </ul>
                                </td>
                                <td class="align-middle">
                                    <ul>
                                        <li>Estudo de ações de marketing voltadas à prospecção de novos clientes</li>
                                        <li>Motivos legais ou requeridos em Lei</li>
                                        <li>Identificação do usuário para acesso às páginas</li>
                                    </ul>
                                </td>
                                <td class="align-middle">Consentimento</td>
                            </tr>

                        </tbody>
                </div>
                </table>

                <p class="lead">Cookies e tecnologias de monitoramento</p>
                <p>Podemos utilizar tecnologias de monitoramento para coletar as informações das atividades realizadas na plataforma de maneira automatizada. Para isso, nós podemos utilizar cookies, que podem ser utilizados para realizar métricas de performance da plataforma, identificar problemas no uso, captar o comportamento dos usuários de forma geral (como por exemplo, quais links você clica quais páginas visualiza, duração das visitas em cada página e outras informações e estatísticas a respeito de suas interações) e coletar dados de impressão de conteúdos.</p>
                <p>Cookies são pequenos arquivos que são adicionados ao dispositivo do usuário para fornecer uma experiência personalizada de acesso à plataforma. Os cookies ajudam a analisar o tráfego de internet e nos permite saber quando o usuário visitou um site específico. Não se preocupe, um cookie não dá acesso a um computador e não revela informações além dos dados que você optou por compartilhar conosco. É possível fazer seu navegador bloquear esses cookies, mas é possível que algumas partes do nosso site não funcione corretamente quando eles são bloqueados.</p>
            </div>
        </div>
    </div>

    <!---------------------------- TOPICO 05 ----------------------------->
    <div class="container mb-4 mt-2">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h2>05 - PRINCÍPIOS LEGAIS</h2>
                <p class="lead">Quais princípios o controlador deve cumprir?</p>
                <p>
                    O tratamento de dados pessoais deve garantir a boa-fé e os princípios contidos no Art. 6 da Lei Geral de Proteção de Dados, os quais prezamos e nos comprometemos em cumprir. Seguem listados abaixo os princípios descritos no Art. 6 da LGPD:
                </p>
                <div class="row justify-content-center">
                    <ul class="col-lg-9">
                        <li><b>finalidade</b>: realização do tratamento para propósitos legítimos, específicos, explícitos e informados ao titular, sem possibilidade de tratamento posterior de forma incompatível com essas finalidades;</li>
                        <li><b>adequação</b>: compatibilidade do tratamento com as finalidades informadas ao titular, de acordo com o contexto do tratamento;</li>
                        <li><b>necessidade</b>: limitação do tratamento ao mínimo necessário para a realização de suas finalidades, com abrangência dos dados pertinentes, proporcionais e não excessivos em relação às finalidades do tratamento de dados;</li>
                        <li><b>livre acesso</b>: garantia, aos titulares, de consulta facilitada e gratuita sobre a forma e a duração do tratamento, bem como sobre a integralidade de seus dados pessoais;</li>
                        <li><b>qualidade dos dados</b>: garantia, aos titulares, de exatidão, clareza, relevância e atualização dos dados, de acordo com a necessidade e para o cumprimento da finalidade de seu tratamento;</li>
                        <li><b>transparência</b>: garantia, aos titulares, de informações claras, precisas e facilmente acessíveis sobre a realização do tratamento e os respectivos agentes de tratamento, observados os segredos comercial e industrial;</li>
                        <li><b>segurança</b>: utilização de medidas técnicas e administrativas aptas a proteger os dados pessoais de acessos não autorizados e de situações acidentais ou ilícitas de destruição, perda, alteração, comunicação ou difusão;</li>
                        <li><b>prevenção</b>: adoção de medidas para prevenir a ocorrência de danos em virtude do tratamento de dados pessoais;</li>
                        <li><b>não discriminação</b>: impossibilidade de realização do tratamento para fins discriminatórios ilícitos ou abusivos;</li>
                        <li><b>responsabilização e prestação de contas</b>: demonstração, pelo agente, da adoção de medidas eficazes e capazes de comprovar a observância e o cumprimento das normas de proteção de dados pessoais e, inclusive, da eficácia dessas medidas.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!---------------------------- TOPICO 06 ----------------------------->
    <div class="container mb-4 mt-2">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h2>06 - COMPARTILHAMENTO DOS DADOS</h2>
                <p class="lead">Com quem meus dados são compartilhados?</p>
                <p>Como o nosso objetivo é possibilitar o matching, o principal compartilhamento das informações se dá entre usuários da plataforma. Nós nos limitamos a coletar somente as informações necessárias para que consigamos identificar qual seriam as melhores opções de conexão para você. As informações fornecidas ao se cadastrar na plataforma ou atualizar o seu perfil poderão ser visualizadas por outros usuários da plataforma. Certifique-se de que você se sinta confortável com o fato de que as pessoas podem visualizar os dados que você está fornecendo.</p>
                <p>É possível que compartilhemos dados com terceiros para cumprir alguma determinação legal, regulatória ou ordem expedida por autoridade pública. De toda forma, sempre prezaremos para que o compartilhamento de dados pessoais observe todas as leis e regras aplicáveis, com o intuito de sempre garantir a segurança dos dados.</p>
                <p>Nós utilizamos os serviços do <a href="https://cookiefirst.com">CookieFirst.com</a> para coletarmos os cookies e caso usarmos cookies fornecidos por terceiros atualizaremos essa política.</p>
            </div>
        </div>
    </div>

    <!---------------------------- TOPICO 07 ----------------------------->
    <div class="container mb-4 mt-2">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h2>07 - MEUS DIREITOS </h2>
                <p class="lead">Quais são os meus direitos como titular de dados pessoais?</p>
                <p>
                    O Art.18 da legislação detalha os seus direitos como titular dos dados pessoais. Com o objetivo de fornecer informações claras e de fácil entendimento, elaboramos uma lista com os direitos e seus significados:
                </p>
                <div class="row justify-content-center">
                    <ul class="col-lg-9">
                        <li><b>Confirmação da existência de tratamento (Art. 18, I, LGPD)</b>: Permite que você possa verificar se nós tratamos seus dados pessoais.</li>
                        <li><b>Acesso aos dados (Art. 18, II, LGPD):</b>: Você poderá solicitar e receber uma cópia de todos os seus dados pessoais coletados e armazenados.</li>
                        <li><b>Correção de dados incompletos, inexatos ou desatualizados  (Art. 18, III, LGPD)</b>: Você poderá solicitar a alteração ou atualização dos seus dados pessoais quando eles estiverem incompletos, inexatos ou desatualizados.</li>
                        <li><b>Anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com o disposto nesta Lei (Art. 18, IV, LGPD)</b>: Caso note a existência de dados desnecessários, excessivos ou tratados em desconformidade com o disposto na LGPD, você tem o direito de pedir para anonimizar esses dados, ou seja, esses dados não conseguirão identificá-lo. Você também pode requisitar um bloqueio, suspendendo temporariamente o tratamento desses dados. E, por fim, você também tem o direito de pedir a exclusão desses dados, que serão excluídos sem possibilidade de reversão, salvo nos casos previstos em lei.</li>
                        <li><b>Portabilidade dos dados a outro fornecedor de serviço ou produto, mediante requisição expressa, de acordo com a regulamentação da autoridade nacional, observados os segredos comercial e industrial (Art. 18, IV, LGPD)</b>: Você tem o direito de solicitar que sejam disponibilizados seus Dados Pessoais a outras empresas, levando em consideração as normas da Autoridade Nacional de Proteção de Dados (ANPD), desde que não viole os segredos comercial e industrial.</li>
                        <li><b>Eliminação dos dados pessoais tratados com o consentimento do titular, exceto nas hipóteses previstas no art. 16 desta Lei (Art. 18, VI, LGPD)</b>: Você poderá requisitar a exclusão dos seus dados pessoais tratados. No entanto, existem algumas exceções a esse direito detalhadas no Art. 16, que define que nós estamos autorizados a conservar seus dados apenas se: I. Dados usados por nós para cumprir obrigação legal ou regulatória; II. Dados utilizados para estudo por órgão de pesquisa (sendo que, nesse caso, tentaremos anonimizá- los); III. Transferência a outras empresas, respeitando a LGPD; ou IV. Dados usados exclusivamente por nós sendo obrigatoriamente anonimizados.</li>
                        <li><b>Informação das entidades públicas e privadas com as quais o controlador realizou uso compartilhado de dados (Art. 18, VII, LGPD)</b>: Você tem o direito de solicitar a informação das entidades públicas e privadas com as quais nós compartilhamos seus Dados Pessoais.</li>
                        <li><b>Informação sobre a possibilidade de não fornecer consentimento e sobre as consequências da negativa (Art. 18, VIII, LGPD)</b>: Você tem o direito de solicitar informações sobre a possibilidade e as consequências de não fornecer consentimento, quando for necessário o consentimento por seus dados. O consentimento, quando necessário, não deve ser forçado, ele deve ser livre e você tem o direito de negá-lo.</li>
                        <li><b>Revogação do consentimento, nos termos do § 5º do art. 8º desta Lei. (Art. 18, IX, LGPD)</b>: Você tem o direito de não fornecer e de revogar o consentimento ao tratamento dos seus dados. Vale lembrar que, tratamentos feitos com seus dados antes da revogação são válidos.</li>
                    </ul>
                </div>
            </div>
        </div>

        <!---------------------------- TOPICO 08 ----------------------------->
        <div class="container mb-4 mt-2">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <h2>08 - ALTERAÇÕES NA POLÍTICA DE PRIVACIDADE</h2>
                    <p class="lead">Essa politica de privacidade pode ser alterada?</p>
                    <p>Estamos constantemente em busca de aprimorar a experiência de nossos clientes. Assim, nossas práticas de tratamento de dados pessoais poderão sofrer alterações com a inclusão de novas funcionalidades e serviços.
                    <p>Valorizamos a transparência no modo em que tratamos seus dados pessoais e temos o dever de manter essa política sempre atualizada e disponível, e cada alteração será devidamente publicada em nosso site. Ao acessar a nossa plataforma, você será informado sempre que estiver disponível uma nova versão da política, e estas alterações serão notificadas via e-mail, disponibilizado por você durante o seu cadastro.</p>
                    <br>
                    <p>Última atualização: 27/08/2022</p>
                </div>
            </div>
        </div>

        <!---------------------------- TOPICO 09 ----------------------------->
        <div class="container mb-4 mt-2">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <h2>09 - CONTATO </h2>
                    <p class="lead">Com quem entro em contato caso eu tenha alguma dúvida?</p>
                    <p>Em observância ao Art. 41 da Lei Geral de Proteção de Dados, com o intuito de facilitar comunicações, esclarecimentos e orientações, segue a identidade e informações de contato do encarregado:</p>
                    <br>
                    <p>
                        Encarregado (DPO): XXXX XXXX XXXX XXXX
                        <br>
                        E-mail: XXXX@XXXX.XXX.XX
                    </p>
                    <br>
                    <p>Se após a leitura desta Política de Privacidade e Proteção de Dados Pessoais restar qualquer dúvida, comentários ou sugestões sobre esta política e nossas práticas em relação à privacidade e proteção de dados, ou por qualquer razão precisar se comunicar para assuntos envolvendo os seus dados pessoais, o contato poderá ser realizado diretamente com o nosso encarregado de proteção de dados pelo e-mail informado acima.</p>
                </div>
            </div>
        </div>

</section>








<!-- Footer -->
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
        <img id="Logo_Footer" src="img/apoema.png" alt="Logo do APOEMA - Footer">
    </div>

</footer>
<!-- Footer -->
<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
-->
