<div class="container mb-4 mt-2">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h2>Apoema</h2>
            <p class="lead">O que é e o que faz o Apoema?</p>
            <p>
                O Apoema é um órgão complementar de Tecnologia e Inovação, vinculado ao Instituto de Informática da Universidade Federal de Goiás (INF/UFG) que promove, por meio de projetos e ações estruturantes, a incorporação de novas tecnologias, processos e serviços que contribuem para a consolidação dos pólos de Tecnologia da Informação e Comunicação (TIC) de Goiás. Atua em parcerias firmadas pelo INF/UFG com empresas e outras instituições, públicas ou privadas, nacionais ou estrangeiras, visando à colaboração, contratos e convênios. Busca estimular empresas parceiras a investirem em projetos e, ao mesmo tempo, fornecer soluções inovadoras na área de TIC para empresas, órgãos governamentais, universidades e institutos de pesquisa. Dessa forma, o órgão busca promover a integração entre ensino, pesquisa e extensão no INF/UFG, proporcionando experiência prática a estagiários, residentes técnicos, monitores e pesquisadores de iniciação a pesquisa e iniciação tecnológica do Instituto e de outras unidades acadêmicas da UFG, habilitando-os para atuarem no mercado de trabalho.
            </p>
            <p>
                Contatos: apoema@inf.ufg.br | 3521-1505
            </p>
        </div>
    </div>
</div>