<div class="container mb-4 mt-2">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h2>Apoema</h2>
            <p class="lead">O que é e o que faz o Apoema?</p>
            <p>
                Instituto APOEMA é um órgão complementar de pesquisa e desenvolvimento vinculado ao Instituto de Informática (INF) da Universidade Federal de Goiás (UFG) que promove, 
                através de projetos, a incorporação de novas tecnologias, processos e serviços que contribuem para a consolidação do pólo de Tecnologia da Informação e 
                Comunicação (TIC) de Goiás. Atua em parcerias firmadas pelo INF com empresas e outras instituições, públicas ou privadas, nacionais ou 
                estrangeiras, visando à colaboração, contratos e convênios. Busca estimular empresas parceiras a investirem em projetos e, ao mesmo tempo, 
                fornecer soluções inovadoras na área de TIC para empresas, órgãos governamentais, universidades e institutos de pesquisa.
                Dessa forma o órgão promove uma integração entre ensino, pesquisa e extensão no INF e na UFG, proporcionando experiência prática 
                a estagiários do Instituto e de outras unidades acadêmicas da UFG, capacitando-os para atuarem no mercado de trabalho.
            </p>
        </div>
    </div>
</div>