@using apoemaMatch.Data.Enums
@model apoemaMatch.Data.ViewModels.EncomendaViewModel
@{
    ViewData["Title"] = "Criar Nova Encomenda";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Criar Nova Encomenda</h4>
        </p>

        @if ((bool?)TempData["Sucesso"] == true)
        {
            <div id="alertSucesso" class="d-flex alert alert-success justify-content-between fade show" role="alert">
                <span class="align-self-center"><b>Cadastro realizado com sucesso!</b></span>
                <button type="button" class="btn btn-outline-danger" onclick="fecheAlertaSucesso()">Fechar</button>
            </div>
        }
        <form asp-action="Cadastrar">
            <div class="row" id="cadastroBasicoEncomenda">
                <div class="col-md-8 offset-2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label asp-for="Titulo" class="control-label"></label>
                            <input asp-for="Titulo" class="form-control" />
                            <span asp-validation-for="Titulo" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="SegmentoDeMercado" class="control-label"></label>
                                <select asp-for="SegmentoDeMercado" class="form-control" asp-items="Html.GetEnumSelectList<EnumSegmentoDeMercado>()"></select>
                                <span asp-validation-for="SegmentoDeMercado" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AreaSolucaoBuscada" class="control-label"></label>
                                <select asp-for="AreaSolucaoBuscada" class="form-control" asp-items="Html.GetEnumSelectList<EnumAreaSolucaoBuscada>()"></select>
                                <span asp-validation-for="AreaSolucaoBuscada" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label asp-for="Descricao" class="control-label"></label>
                                <textarea asp-for="Descricao" class="form-control"></textarea>
                                <span asp-validation-for="Descricao" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" asp-for="RealizaProcessoSeletivo" value="false" />

                        <div class="form-group">
                            <div class="text-center">
                                <h6>Como você deseja encontrar um solucionador?</h6>
                            </div>

                            @*<input type="submit" value="Cadastrar" class="btn btn-outline-success float-right" />*@
                            <div class="float-left">
                                <input type="submit" onclick="atribuiRealizaProcessoSeletivo(false)" class="btn btn-outline-secondary" value="Ser agenciado pelo APEOMA" />
                            </div>
                            <div class="float-right">
                                <button onclick="mostreDetalhesioSelecao()" type="button" class="btn btn-outline-secondary"> Iniciar um processo de seleção </button>
                            </div>
                        </div>
                    </div>
                    @await Html.PartialAsync("DetalhesSelecao.cshtml")
                    @await Html.PartialAsync("QuestionarioSelecao.cshtml")
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        let inputRealizaProcessoSeletivo = document.getElementById("RealizaProcessoSeletivo");

        function atribuiRealizaProcessoSeletivo(realiza) {
            inputRealizaProcessoSeletivo.value = realiza;
        }

        function fecheAlertaSucesso() {
            const alert = new bootstrap.Alert(document.getElementById("alertSucesso"));
            alert.close();
        }

        function mostreQuestionarioSelecao() {
            atribuiRealizaProcessoSeletivo(true);
            document.getElementById("detalhesSelecao").classList.add("d-none");
            document.getElementById("questionarioSelecao").classList.remove("d-none");
        }
        function mostreDetalhesioSelecao() {
            atribuiRealizaProcessoSeletivo(true);
            document.getElementById("cadastroBasicoEncomenda").classList.add("d-none");
            document.getElementById("detalhesSelecao").classList.remove("d-none");
        }
    </script>

    <script src=@Url.Content("~/js/QuestionarioSelecao/DetalhesSelecao.js") asp-append-version="true"></script>
    <script src=@Url.Content("~/js/QuestionarioSelecao/questionarioSelecao.js") asp-append-version="true"></script>
}
