@using apoemaMatch.Data.Enums
@model apoemaMatch.Data.ViewModels.EncomendaViewModel
@{
    ViewData["Title"] = "Criar Nova Encomenda";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Criar Nova Encomenda</h4>
        </p>

        @if ((bool?)TempData["Sucesso"] == true)
        {
            <div id="alertSucesso" class="d-flex alert alert-success justify-content-between fade show" role="alert">
                <span class="align-self-center"><b>Cadastro realizado com sucesso!</b></span>
                <button type="button" class="btn btn-outline-danger" onclick="fecheAlertaSucesso()">Fechar</button>
            </div>
        }
        <form asp-action="Cadastrar">
            <div class="row" id="cadastroBasicoEncomenda">
                <div class="col-md-8 offset-2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label asp-for="Titulo" class="control-label"></label>
                            <input asp-for="Titulo" class="form-control" />
                            <span asp-validation-for="Titulo" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label asp-for="TipoEncomenda" class="control-label"></label>
                                <select onchange="onChangeTipoEncomenda(this)" asp-for="TipoEncomenda" class="form-control" asp-items="Html.GetEnumSelectList<EnumTipoEncomenda>()"></select>
                                <span asp-validation-for="TipoEncomenda" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3 d-none" id="div_tipoEncomendaOutros">
                            <label asp-for="TipoEncomendaOutros" class="control-label"></label>
                            <input asp-for="TipoEncomendaOutros" class="form-control" />
                            <span id="spanTipoEncomendaOutros" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label asp-for="Descricao" class="control-label"></label>
                                <textarea asp-for="Descricao" class="form-control"></textarea>
                                <span asp-validation-for="Descricao" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" asp-for="PossuiChamada" value="false" />

                    <div class="form-group">
                        <div class="text-center">
                            <h6>Como você deseja encontrar um solucionador?</h6>
                        </div>

                        <div class="float-left">
                            <input type="submit" onclick="setPossuiChamada(false)" class="btn btn-outline-secondary" value="Ser agenciado pelo APOEMA" />
                        </div>
                        <div class="float-right">
                            <button onclick="mostreDetalhesioSelecao()" type="button" class="btn btn-outline-secondary"> Iniciar um processo de seleção </button>
                        </div>
                    </div>
                </div>
            </div>

            @await Html.PartialAsync("DetalhesSelecao.cshtml")
            @await Html.PartialAsync("CriteriosChamada.cshtml")
        </form>
    </div>
</div>

@section Scripts{
    <script>
        let inputPossuiChamada = document.getElementById("PossuiChamada");

        function setPossuiChamada(possui) {
            inputPossuiChamada.value = possui;
        }

        function fecheAlertaSucesso() {
            const alert = new bootstrap.Alert(document.getElementById("alertSucesso"));
            alert.close();
        }

        function mostreCriteriosChamada() {
            setPossuiChamada(true);
            document.getElementById("detalhesSelecao").classList.add("d-none");
            document.getElementById("criteriosChamada").classList.remove("d-none");
        }

        function mostreDetalhesioSelecao() {
            setPossuiChamada(true);
            document.getElementById("cadastroBasicoEncomenda").classList.add("d-none");
            document.getElementById("detalhesSelecao").classList.remove("d-none");
        }

        function onChangeTipoEncomenda(select) {
            if (select.options[select.selectedIndex].text == "Outros") {
                document.getElementById("div_tipoEncomendaOutros").classList.remove('d-none');
            }
            else {
                document.getElementById("div_tipoEncomendaOutros").classList.add('d-none');
            }
        }
    </script>

    <script src=@Url.Content("~/js/QuestionarioSelecao/criteriosChamada.js") asp-append-version="true"></script>
}
