@using apoemaMatch.Data.Enums
@model apoemaMatch.Data.ViewModels.EncomendaViewModel

<div class="row d-none" id="criteriosChamada">
    <div class="col-md-8 offset-2">
        <div class="col-md-12 mb-3 d-none" id="div_alertAviso">

        </div>

        <div class="col-md-12 mb-3">
            <h2 style="text-align: center;">Descreva aqui os critérios que você gostaria de avaliar na sua chamada</h2>
        </div>

        <div class="col-md-12 mb-3">
            <label asp-for="CriterioBase.Descricao" class="control-label"></label>
            <input asp-for="CriterioBase.Descricao" class="form-control" />
            <span id="spanDescricaoCriterio" class="text-danger"></span>
        </div>

        <div class="col-md-12 mb-3">
            <div class="form-group">
                <label asp-for="CriterioBase.TipoCriterio" class="control-label"></label>
                <select asp-for="CriterioBase.TipoCriterio" class="form-control" asp-items="Html.GetEnumSelectList<EnumTipoCriterio>()"></select>
            </div>
        </div>

        <div class="col-md-12 mb-3 d-none" id="div_opcoes_criterio">
            <h6 style="text-align: center;">Obs.: Mínimo 2 e máximo 10 opções</h6>
            <table class="table" id="tabela_opcoes_criterio">
                <thead>
                    <tr>
                        <th scope="col" class="col-md-11">Texto da opção</th>
                        <th scope="col" class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input asp-for="CriterioBase.OpcoesCriterioBase[0]" class="form-control" />
                            <span id="spanOpcaoCriterioTexto0" class="text-danger"></span>
                        </td>
                        <td>
                            <button onclick="removaOpcao(this)" type="button" class="btn btn-danger text-white">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="CriterioBase.OpcoesCriterioBase[1]" class="form-control" />
                            <span id="spanOpcaoCriterioTexto1" class="text-danger"></span>
                        </td>
                        <td>
                            <button onclick="removaOpcao(this)" type="button" class="btn btn-danger text-white">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12 mb-3 d-flex justify-content-center">
                <button type="button" class="btn btn-primary" id="botaoAdicionarOpcaoCriterio">
                    <i class="bi bi-plus text-white"></i>
                </button>
            </div>
        </div>


        <div class="col-md-12 mb-3 d-flex justify-content-end">
            <button type="button" class="btn btn-primary" id="botaoAdicionarCriterio">Adicionar</button>
        </div>

        <input type="hidden" asp-for="InputCriterios" />

        <div class="row mb-3 d-none" id="div_criterios">
        </div>

        <div class="col text-center">
            <div class="float-left">
                <button id="voltarDetalhes" type="button" class="btn btn-outline-secondary">Voltar</button>
            </div>
            <div class="float-right">
                <button id="enviarCadastroChamada" type="submit" class="btn btn-outline-warning" asp-controller="Encomenda" asp-action="Cadastrar">Publicar encomenda</button>
            </div>
        </div>
    </div>
</div>
