@using apoemaMatch.Data.Enums
@model apoemaMatch.Data.ViewModels.EncomendaViewModel
@{
    ViewData["Title"] = "Inserir detalhes da Seleção";
}

<div class="d-none" id="detalhesSelecao">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h2 style="text-align: center;">Informe aqui os detalhes da chamada e/ou anexe um arquivo contendo todas as especificações da chamada</h2>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="DescricaoChamada" class="control-label"></label>
                <textarea asp-for="DescricaoChamada" class="form-control"></textarea>
                <span asp-validation-for="DescricaoChamada" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="DataValidadeChamada" class="control-label"></label>
                <input type="date" asp-for="DataValidadeChamada" class="form-control" />
                <span asp-validation-for="DataValidadeChamada" class="text"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="ArquivoDetalheChamada" class="control-label"></label>
                <input asp-for="ArquivoDetalheChamada" class="form-control" />
                <span asp-validation-for="ArquivoDetalheChamada" class="text"></span>
            </div>
        </div>


        <div class="col text-center">
            <button onclick="mostreCriteriosChamada()" type="button" class="btn btn-outline-secondary">Definir Critérios</button>
        </div>
    </div>
</div>