@using apoemaMatch.Data.Enums
@model apoemaMatch.Data.ViewModels.EncomendaViewModel

@{
    ViewData["Title"] = "Lista de Encomendas";
}


<h2>Lista de Encomendas</h2>

<a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="Encomenda" asp-action="Index">
    Criar nova encomenda
</a>
