@using apoemaMatch.Data.Enums
@model apoemaMatch.Data.ViewModels.EncomendaViewModel
@{
    ViewData["Title"] = "Criar Questionário de Avaliação";
}

<div class="d-none" id="questionarioSelecao">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h2 style="text-align: center;">Quais critérios e atributos você gostaria de avaliar para sua encomenda?</h2>
        </div>

        <div class="col-md-12 mb-3">
            <label asp-for="QuestaoBase.Pergunta" class="control-label"></label>
            <input asp-for="QuestaoBase.Pergunta" class="form-control" />
            <span id="spanPergunta" class="text-danger"></span>
        </div>

        <div class="col-md-12 mb-3">
            <div class="form-group">
                <label asp-for="QuestaoBase.TipoResposta" class="control-label"></label>
                <select asp-for="QuestaoBase.TipoResposta" class="form-control" asp-items="Html.GetEnumSelectList<EnumTipoResposta>()"></select>
            </div>
        </div>

        <div class="col-md-12 mb-3 d-none" id="div_OpcaoResposta">
            <div class="col-md-12 mb-1">
                <div class="form-group">
                    <label asp-for="QuestaoBase.OpcaoRespostaBase.TextoPrimeiraOpcao" class="control-label"></label>
                    <input asp-for="QuestaoBase.OpcaoRespostaBase.TextoPrimeiraOpcao" class="form-control" />
                    <span id="spanOpcaoResposta1" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-1">
                <div class="form-group">
                    <label asp-for="QuestaoBase.OpcaoRespostaBase.TextoSegundaOpcao" class="control-label"></label>
                    <input asp-for="QuestaoBase.OpcaoRespostaBase.TextoSegundaOpcao" class="form-control" />
                    <span id="spanOpcaoResposta2" class="text-danger"></span>
                </div>
            </div>

            @* TODO: Implementar add opcao *@
            @*<div class="col-md-12 mb-3 d-flex justify-content-center">
                <button type="button" class="btn btn-primary" id="botaoAdicionarOpcaoResposta">
                    <i class="bi bi-plus text-white"></i>
                </button>
            </div>*@
        </div>

        <div class="col-md-12 mb-3 d-flex justify-content-end">
            <button type="button" class="btn btn-primary" id="botaoAdicionarQuestao">Adicionar</button>
        </div>

        <input type="hidden" asp-for="InputQuestoes" />

        <div class="col-md-12 mb-3 d-flex d-none" id="div_Questoes">
        </div>

        <div class="col text-center">
            <button type="submit" class="btn btn-outline-warning" asp-controller="Encomenda" asp-action="Cadastrar">Publicar encomenda</button>
        </div>
    </div>
</div>

@section Scripts{
    <script src=@Url.Content("~/js/QuestionarioSelecao/questionarioSelecao.js") asp-append-version="true"></script>
}