<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Acesso negado</h2>
        <p>Clique no botão para ser redirecionado a página principal</p>
        <hr />
        <p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">Home Page</a>
        </p>
    </div>
</div>