<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Seu email foi alterado com sucesso</h2>
        <p>Logue novamente usando as suas novas credenciais</p>
        <hr />
            <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="Login">Fazer Login</a>
    </div>
</div>